<div id="doors">
  <div class="door">
    <div class="number">1</div>
    <a href="/door/1"><img src="door.png"></a>
  </div>
  <div class="door">
    <div class="number">2</div>
    <a href="/door/2"><img src="door.png"></a>
  </div>
  <div class="door">
    <div class="number">3</div>
    <a href="/door/3"><img src="door.png"></a>
  </div>
  <div id="hero">
    <img src="hero.png">
  </div>
</div>
<div id="floor">&nbsp;</div>

